<mat-toolbar>FundInfo Extract</mat-toolbar>
<mat-toolbar-row>Document Types</mat-toolbar-row>
<div class="container">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="checked">
    <th mat-header-cell *matHeaderCellDef>Select</th>
    <td mat-cell *matCellDef="let product">
      <mat-checkbox (click)="exportAsXLSX(product)">{{ product.checked.null }}</mat-checkbox>
    </td>
  </ng-container>

  <!-- Fund Documents Column -->
  <ng-container matColumnDef="FundDocuments">
    <th mat-header-cell *matHeaderCellDef>Fund Documents</th>
    <td mat-cell *matCellDef="let product">{{ product.FundDocuments }}</td>
  </ng-container>

  <!-- Number Of Documents Column -->
  <ng-container matColumnDef="NumberOfDocuments">
    <th mat-header-cell *matHeaderCellDef>Number Of<br>Documents</th>
    <td mat-cell *matCellDef="let product">{{ product.NumberOfDocuments }}</td>
  </ng-container>

  <!-- ISINS Not Equal To Fund Codes Column -->
  <ng-container matColumnDef="IsinsNotEqualToFundCodes">
    <th mat-header-cell *matHeaderCellDef>ISINS Not Equal<br>to Fund Codes</th>
    <td mat-cell *matCellDef="let product">{{ product.IsinsNotEqualToFundCodes }}</td>
  </ng-container>

  <!-- Invalid Url Column -->
  <ng-container matColumnDef="InvalidUrl">
    <th mat-header-cell *matHeaderCellDef>Invalid URL</th>
    <td mat-cell *matCellDef="let product">{{ product.InvalidUrl }}</td>
  </ng-container>

   <!-- Other Issues Column -->
   <ng-container matColumnDef="OtherIssues">
    <th mat-header-cell *matHeaderCellDef>Other Issues</th>
    <td mat-cell *matCellDef="let product">{{ product.OtherIssues }}</td>
  </ng-container>

   <!-- Last Updated Column -->
   <ng-container matColumnDef="LastUpdated">
    <th mat-header-cell *matHeaderCellDef>Last Updated</th>
    <td mat-cell *matCellDef="let product">{{ product.LastUpdated }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
</table>
<div class="container-button">
  <!-- Button -->
  <button mat-raised-button export color="primary">Export</button>
  </div>
</div>
