table {
    width: 100%;
  }

.mat-column-select {
    overflow: initial;
  }
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.container-button {
  float: right;
  padding: 20px 5px 20px 20px;
}